html,
body {
  background-color: rgb(255, 253, 251);
  color: #353A47;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
}

h1 {
  color: #c61768;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 3em;
  margin: 20px;
}

h2 {
  color: #ec7fba;
  font-size: 2em;
  font-weight: 700;
}

h3 {
  color: #6174c6;
  font-size: 1.5em;
}

footer {
  position: static;
  bottom: 0;
  padding: 1em 2em;
}

#container {
  margin: 0 auto;
  max-width: 1200px;
}

#result-hed {
  margin: 1em 0;
}

#searchBox {
  margin: 2em auto;
  max-width: 600px;
}

#searchBar {
  height: 50px;
  background-color: rgb(255, 253, 251);
  border: none;
  border-bottom: 1px solid #999;
  font-size: 40px;
  font-weight: 300;
  padding: 0;
}

#searchBar:active,
#searchBar:focus {
  outline: 0;
}

#search-btn {
  position: absolute;
  background-color: #eef;
  font-size: 24px
}

.container-fluid {
  min-height: 600px;
}

.review-list {
  max-height: 1000px;
  overflow-y: scroll;
}

.rating {
  color: #e83e8c;
  font-weight: 700;
}

.review {
  padding: 1em;
}

.linkToPage {
  color: #6174c6;
  font-weight: 700;
}
